.root {
  display: flex;
  flex-direction: column;

  align-items: start;

  gap: 15px;

  > .checkboxInputLabel {
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 5px;

    cursor: pointer;

    user-select: none;
    
    > .checkboxInput {
      cursor: pointer;
    }
  }

  > .button {
    padding: 5px 20px;

    background: #FFFFFF;

    cursor: pointer;

    &:hover {
      background: #CCCCCC;
    }
  }
}