.root {
  display: flex;
  flex-direction: row;

  gap: 10px;

  > .link {

  }

  > .followButton {
    padding: 5px 15px;

    background: #FFFFFF;

    border-radius: 10px;

    cursor: pointer;

    &:hover {
      background: #CCCCCC;
    }
  }
}