.root {
  display: flex;
  flex-direction: row;

  gap: 70px;

  > .avatar {
    display: flex;
    flex-direction: column;

    gap: 10px;

    > .image {
      width: 250px;
    }
  }

  > .mainInfo {
    display: flex;
    flex-direction: column;

    gap: 10px;

    > .nameText {
      font-size: 32px;
      font-weight: 600;

      color: #34414a;
    }
  }
}