%app-control {
  padding: 0;

  margin: 0;

  letter-spacing: inherit;

  font-family: inherit;

  text-align: left;

  background-color: transparent;

  border-width: 0;
  border-style: none;
  border-color: transparent;

  outline: transparent none 0;

  box-shadow: none;

  appearance: none;
}
