$main-color: #FF9619;
$secondary-color: #34414A;
$paragraph-color: #666666;
$gray-color: #CCCCCC;
$gray-color-2: #333333;
$white-color: #FFFFFF;
$white-color-2: #F8F8F8;
$white-color-3: #EEEEEE;
$rich-text-color: #666666;